
.content {
    height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 22px;

  padding: 16px;

  overflow: auto;
  }
   
.container{
  display: flex;
  
}

mat-toolbar {
  background: #4f5f76;
  color: white;
 
}


h1{
  font-size: x-large;
  font-weight:600;
  letter-spacing: 1px;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  border-spacing: 0;
  font-size: 14px;
}

th {
  background-color: #444444;
  color: #ffffff;
  font-weight: bold;
  padding: 7px;
  text-align: center;
  font-size: 14px;
  text-align: center;
}

td {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 7px;
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #e6e6e6;
}

tr:hover td {
  background-color: #d9d9d9;
  cursor: pointer;
}

@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
}
